<h1>Prostori</h1>
<div class="venues__wrapper">
  <div class="venues__image">
    <% @venues.each_with_index do |venue, index| %>
      <% if venue.venue_images.blank? %>
        <% unless venue.image.blank? %>
          <%= image_tag venue.image %>
        <% end %>
      <% else %>
        <% venue.venue_images.each do |venue_image| %>
          <%= image_tag venue_image.image %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <div class="venues__flex">
    <div class="venues__places">
      <% @venues.each_with_index do |venue, index| %>
        <button><%= venue.name %></button>
      <% end %> 
    </div>
    <div class="venues__bio">
      <h3> Kapacitet </h3>
      <div class="venues__capacity">
        <% @venues.each_with_index do |venue, index| %>
          <% unless venue.capacity_venues.blank? %>
            <% venue.capacity_venues.each do |capacity| %>
              <div class="capacity">
                <div class="capacity__name">
                  <%= capacity.name %>
                </div>
                <div class="capacity__value">
                  <%= capacity.capacity %>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="venues__description">
        <% @venues.each_with_index do |venue, index| %>
          <%= venue.description.html_safe do |description| %>
            <%= description.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<script>
    hiddenDiv3.style.display = 'block';
</script>