<div class="events__top">
  <%= link_to events_path, class: 'btn btn--icon btn--on-top btn--black events__top--wrapper' do %>
    <div class="events__top--icon">
      <%= inline_svg 'icons/star.svg' %>
    </div>
    <div class="events__top--text">
      Top događanja
    </div>
  <% end %>
</div>
<div class="events__all--wrapper">
  <div class="wrapper__header">
    <div class="wrapper__triangle--left" id="wrapper__triangle--left"></div>
    <div class="wrapper__triangle--right" id="wrapper__triangle--right"></div>
    <div class="wrapper__date" id="wrapper__date">
      
    </div>
    <div class="line__vertical"></div>
    <div class="wrapper__filter--text">
      Filtriranje prikaza
    </div>
    <div class="wrapper__dropdown--content">
      <div class="wrapper__triangle--down" onclick="dropdownFilter()"></div>
      <div class="wrapper__dropdown" id="wrapper__dropdown">
        <p>Uzlazno</p>
        <p>Silazno</p>
      </div>
    </div>
  </div>
  <div class="wrapper__edge">
    <div class="line__horizontal--dark"></div>
    <div class="wrapper__content">
      <% @event.each do |events| %>
        <% unless events.blank? %>
          <div class="wrapper__item">
            <div class="wrapper__item--date">
              <%= events.start_date.strftime("%d/%m") %>
            </div>
            <div class="wrapper__item--time">
              <% if events.starting_at %>
                <%= events.starting_at.to_s(:time) %>
              <% end %>
            </div>
            <div class="wrapper__item--type">
              <%=events.event_type%>
            </div>
            <h5 class="wrapper__item--name">
              <%= link_to events.headline, event_path(events.slug), class: 'link link--black' %>
            </h5>
            <div class="wrapper__item--tickets">
              <%=link_to events.price, "#", target: "_blank", class: 'btn btn--black text--uppercase btn--small text--center' %>
            </div>
          </div>
          <div class="line__horizontal--light"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function dropdownFilter() {
    var x = document.getElementById("wrapper__dropdown");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
  }

  const months = ["Siječanj 2022", "Veljača 2022", "Ožujak 2022", "Travanj 2022","Svibanj 2022", "Lipanj 2022", "Srpanj 2022", "Kolovoz 2022", "Rujan 2022", "Listopad 2022", "Studeni 2022", "Prosinac 2022"];
  let current = 6;

  function nextItem() {
    current = current + 1; // increase current by one
    current = current % months.length; // if we've gone too high, start from `0` again
    return months[current]; // give us back the item of where we are now
  }

  function prevItem() {
      if (current === 0) { // current would become 0
          current = months.length; // so put it at the other end of the array
      }
      current = current - 1; // decrease by one
      return months[current]; // give us back the item of where we are now
  }

  window.addEventListener('load', function () {
    document.getElementById('wrapper__date').textContent = months[6]; // initial value
    document.getElementById('wrapper__triangle--left').addEventListener(
        'click', // we want to listen for a click
        function (e) { // the e here is the event itself
            document.getElementById('wrapper__date').textContent = prevItem();
        }
    );
    
    document.getElementById('wrapper__triangle--right').addEventListener(
        'click', // we want to listen for a click
        function (e) { // the e here is the event itself
            document.getElementById('wrapper__date').textContent = nextItem();
        }
    );
});
</script>

<script>
  hiddenDiv1.style.display = 'block';
</script>