<div class="events">
  <% @events.each_with_index do |events, index| %>
    <% unless events.image.blank? %>
      <div class="events__image js-slide-image">
        <%= image_tag events.image %>
      </div>
    <% end %>
  <% end %>
  <%= link_to all_events_path do %>
  <div class="all__events--wrapper">
    <button class="all__events">
      <div class="all__events--icon">
        <%= inline_svg 'icons/date.svg' %>
      </div>
      <div class="all__events--text">Sva događanja</div>
    </button>
  </div>
  <% end %>
</div>

<div class="glide js-glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% @events.each_with_index do |events, index| %>
        <li class="glide__slide">
          <div class="events__start">
            <div class="events__start-date">
              <div class="events__start-date--icon">
                <%= image_tag 'icons/events/rectangle.png' %>
              </div>
              <div class="events__start-date--text">
                <%=events.start_date.to_formatted_s(:custom) %> <% if events.end_date %> <% end %>
              </div>
          </div>
          <% if events.starting_at %>
            <div class="events__start-time">
              <div class="events__start-time--icon">
                <%= inline_svg 'icons/events/event-time.svg'%>
              </div>
              <div class="events__start-time--text">
                <%=events.starting_at.to_s(:time) %>
              </div>
            </div>
          <% end %>
          </div>
          <div class="events__content">
            <div class="events__content--flex">
              <%= link_to event_path(events.slug) do %>
                <div class="events__type">
                  <%=events.event_type%>
                </div>
              <% end %>
              <div class="events__headline">
                <h1>
                  <%= link_to event_path(events.slug) do %>
                    <%= events.headline %>
                  <% end %>
                </h1>
              </div>
            </div>
            <div class="events__description">
              <% unless events.brief.nil? %>
                <%= sanitize events.brief %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  
  <div class="glide__bullets" data-glide-el="controls[nav]">
    <button class="glide__bullet" data-glide-dir="=0">01</button>
    <button class="glide__bullet" data-glide-dir="=1">02</button>
    <button class="glide__bullet" data-glide-dir="=2">03</button>
  </div>
</div>

<button class="tickets__button">Kupi ulaznicu</button>

<script>
  var glide = new Glide('.glide')
  glide.mount();

  const images = document.querySelectorAll('.js-slide-image');
  glide.on('move.after', function() {
    images.forEach(image => image.classList.remove('is-active')); // provrtiš sve slike i makneš im active klasu
    images[glide.index].classList.add('is-active'); // nađeš sliku s istim indexom kao glide.index i daš joj active klasu
})
</script>
