<div class="contact">
  <h1>Kako do nas?</h1>
  <div class="contact__wrapper">
    <div class="contact__information">
      <div class="contact__information--address">
        <% if @contact.address %>
          <div class="address__title">
            <%= t('contact.address') %>
          </div>
          <div class="address__text">
            <%= @contact.address %>
          </div>
        <% end %>
      </div>
      <div class="contact__information--phone">
        <% if @contact.phone %>
          <div class="phone__title">
            <%= t('contact.phone') %>
          </div>
          <div class="phone__text">
            <%= link_to @contact.phone, 'tel:' + @contact.phone %>
          </div>
        <% end %>
      </div>
      <div class="contact__information--email">
        <% if @contact.email %>
          <div class="email__title">
            <%= t('contact.email') %>
          </div>
          <div class="email__text">
            <%= link_to @contact.email, 'mailto:' + @contact.email %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="contact__message">
      <%= render 'contact_messages/form' %>
    </div>
  </div>
</div>