<% @header_disabled = true %>
<% @navigation_disabled = true %>
<% @footer_disabled = true %>
<%= image_tag 'logo.gif' %>
<span>Kulturni centar Osijek</span>
<span>Kneza Trpimira 2/a, Osijek</span>
<%= link_to "+385 91 5141 460", "tel:+385915141460", target: "_blank" %>
<%= link_to "ivan.kristijan@kulturni-centar.hr", "mailto:ivan.kristijan@kulturni-centar.hr", target: "_blank" %>
<span>OIB 32129097612</span>
<span>IBAN HR18 2360 0001 1027 6404 3</span>
<span>MB 05057957</span>
<span>MBS 030210992 Trgovački sud u Osijeku</span>
<span>Temeljni kapital 20.000,00 kn</span>
<span>Uprava Ivan Kristijan Majić</span>
<%= link_to "Proračun 2019", "#{root_url}KC_Proracun_2019.xls", target: "_blank" %>
<%= link_to "Bilješke 2019", "#{root_url}KC_Biljeske_2019.xlsx", target: "_blank" %>
