<nav class="nav--desktop">
  <div class="layout--main flex--between navigation--header">
    <%= link_to root_path, class:"nav--desktop__logo" do %>
      <%= image_tag 'logo.svg' %>
    <% end %>
    <div class="navigation--header__links">
      <%= render 'layouts/navigation_links' %>
    </div>
    <div class="navigation--header__event">
      <div class="navigation--rectangle">
        <%= image_tag 'rectangle.svg' %>
      </div>
      <div class="navigation--event">
        <% if @foremost_event and !@foremost_event.start_date.blank? and !@foremost_event.headline.blank? and !@foremost_event.slug.blank? %>
          <%= link_to @foremost_event.headline, event_path(@foremost_event.slug) %>
        <% end %>
      </div>
    </div>
    <div class="navigation--header__socials">
      <% SocialNetwork.all.each do |links| %>
        <% if links.name == "Facebook" && !links.url.empty? %>
          <%= link_to links.url, title: links.name do %>
            <%= image_tag 'icons/facebook.svg' %>
          <% end %>
        <% end %>
        <% if links.name == "Instagram" && !links.url.empty? %>
          <%= link_to links.url, title: links.name do %>
            <%= image_tag 'icons/instagram.svg' %>
          <% end %>
        <% end %>
        <% if links.name == "Twitter" && !links.url.empty? %>
          <%= link_to links.url, title: links.name do %>
            <%= image_tag 'icons/twitter.svg' %>
          <% end %>
        <% end %>
        <% if links.name == "Youtube" && !links.url.empty? %>
          <%= link_to links.url, title: links.name do %>
            <%= image_tag 'icons/youtube.svg' %>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="navigation--header__legals">
        <%= render 'layouts/legal_links' %>
    </div>
  </div>
</nav>
<nav class="nav--mobile">
  <div class="flex flex--between">
    <%= link_to root_path, class:"nav--mobile__logo" do %>
      <%= image_tag 'logo.gif' %>
    <% end %>
    <button class="js_burger burger-button">
      <div class="icon--burger"></div>
    </button>
  </div>
  <div class="js_nav_user nav--mobile__content">
    <%= render 'layouts/navigation_links' %>
    <% if @foremost_tag %>
      <%= link_to @foremost_tag.name, tag_path(@foremost_tag.name) %>
    <% end %>
    <% SocialNetwork.all.each do |links| %>
      <% if links.name == "Facebook" && !links.url.empty? %>
        <%= link_to links.url, title: links.name do %>
          <%= image_tag 'icons/facebook.svg' %>
        <% end %>
      <% end %>
      <% if links.name == "Instagram" && !links.url.empty? %>
        <%= link_to links.url, title: links.name do %>
          <%= image_tag 'icons/instagram.svg' %>
        <% end %>
      <% end %>
      <% if links.name == "Twitter" && !links.url.empty? %>
        <%= link_to links.url, title: links.name do %>
          <%= image_tag 'icons/twitter.svg' %>
        <% end %>
      <% end %>
      <% if links.name == "YouTube" && !links.url.empty? %>
        <%= link_to links.url, title: links.name do %>
          <%= image_tag 'icons/youtube.svg' %>
        <% end %>
      <% end %>
    <% end %>
    <%= render 'layouts/legal_links' %>
  </div>
</nav>
